body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1024' height='500' preserveAspectRatio='none' viewBox='0 0 1024 500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1034%26quot%3b)' fill='none'%3e%3crect width='1024' height='500' x='0' y='0' fill='url(%23SvgjsLinearGradient1035)'%3e%3c/rect%3e%3cpath d='M1041.066666666667 500L0 500 L0 299.77Q27.9 242.33%2c 85.33333333333333 270.23Q134.19 233.75%2c 170.66666666666666 282.61Q204.91 265.65%2c 221.86666666666667 299.9Q274.52 267.22%2c 307.2 319.87Q326.37 253.7%2c 392.5333333333333 272.87Q406.32 235.45%2c 443.7333333333333 249.24Q467.79 222.1%2c 494.9333333333333 246.15Q536.59 236.6%2c 546.1333333333333 278.26Q578.62 259.55%2c 597.3333333333334 292.04Q634.98 278.49%2c 648.5333333333334 316.13Q671.39 253.65%2c 733.8666666666668 276.5Q746.8 238.23%2c 785.0666666666668 251.16Q831.87 246.76%2c 836.2666666666669 293.56Q856.35 262.44%2c 887.4666666666669 282.52Q893.28 237.13%2c 938.666666666667 242.95Q995.33 248.41%2c 989.866666666667 305.08Q1028.4 292.41%2c 1041.066666666667 330.95z' fill='%23182f5d'%3e%3c/path%3e%3cpath d='M1092.2666666666669 500L0 500 L0 389.35Q32.29 336.3%2c 85.33333333333333 368.59Q89.53 321.59%2c 136.53333333333333 325.79Q172.16 276.08%2c 221.86666666666667 311.71Q284.94 289.45%2c 307.2 352.52Q350.63 344.76%2c 358.4 388.19Q360.01 338.6%2c 409.59999999999997 340.21Q426.39 305.81%2c 460.79999999999995 322.6Q511.85 322.45%2c 511.99999999999994 373.51Q532.37 342.69%2c 563.1999999999999 363.06Q600.73 349.39%2c 614.4 386.92Q618.27 305.45%2c 699.7333333333333 309.32Q749.18 307.57%2c 750.9333333333334 357.02Q811.17 331.92%2c 836.2666666666668 392.15Q848.79 319.34%2c 921.6000000000001 331.86Q956.19 281.11%2c 1006.9333333333335 315.7Q1075.88 299.31%2c 1092.2666666666669 368.26z' fill='%2325467d'%3e%3c/path%3e%3cpath d='M1058.1333333333334 500L0 500 L0 379.22Q65.09 358.97%2c 85.33333333333333 424.06Q111.03 364.42%2c 170.66666666666666 390.11Q221.41 355.52%2c 256 406.26Q281.83 346.75%2c 341.3333333333333 372.58Q375.83 355.88%2c 392.5333333333333 390.37Q457.71 370.21%2c 477.8666666666666 435.39Q510.54 416.86%2c 529.0666666666666 449.53Q542.1 411.36%2c 580.2666666666667 424.4Q585.51 378.44%2c 631.4666666666667 383.69Q681.13 348.02%2c 716.8000000000001 397.69Q780.04 375.59%2c 802.1333333333334 438.83Q813.66 365.02%2c 887.4666666666668 376.54Q940.1 343.84%2c 972.8000000000002 396.47Q1027.2 365.53%2c 1058.1333333333334 419.93z' fill='%23356cb1'%3e%3c/path%3e%3cpath d='M1058.1333333333334 500L0 500 L0 518.81Q-4.24 463.37%2c 51.2 459.13Q86.06 408.66%2c 136.53333333333333 443.52Q180.05 435.84%2c 187.73333333333335 479.36Q238.82 445.12%2c 273.06666666666666 496.21Q289.74 427.55%2c 358.4 444.22Q413.1 413.58%2c 443.7333333333333 468.28Q462.73 436.07%2c 494.9333333333333 455.07Q552.66 427.47%2c 580.2666666666667 485.2Q618.27 472%2c 631.4666666666667 510Q644.16 437.36%2c 716.8000000000001 450.05Q765.06 412.98%2c 802.1333333333334 461.24Q862.33 436.1%2c 887.4666666666668 496.29Q938.88 462.37%2c 972.8000000000002 513.79Q984.15 439.81%2c 1058.1333333333334 451.16z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1034'%3e%3crect width='1024' height='500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='87.21%25' y1='126.2%25' x2='12.79%25' y2='-26.2%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1035'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(43%2c 173%2c 157%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}
